.sidebar
	= link_to 'Домой', '/', class: 'link'
	= link_to 'Все пользователи', :api_users, class: 'link xhr'
	= link_to 'Администраторы', role_api_users_path(:admin), class: 'link xhr'
	= link_to 'Пользователи', role_api_users_path(:user), class: 'link xhr'
	= link_to 'Неактивные пользователи', :inactive_api_users, class: 'link xhr'
