*
	box-sizing: border-box

header
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 2.5em
	background: #cfc
	z-index: 1

nav
	position: fixed
	min-height: 100%

h1
	margin: 0
	padding: 0

nav, .content
	top: 2.5em

.content
	left: 150px

body
	margin: 0
	width: 100%

	.body
		width: 100%
		height: 100%
		position: relative

	nav
		width: 150px
		background: #ccc

	.page-title
		text-align: center

	.content
		position: relative
		margin: 15px 0 0 15px
		overflow: hidden
