doctype html
html
	head
		title Testapp

		meta name="viewport" content="width=device-width, initial-scale=1.0"

		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags

	body
		.body
			- if current_user
				header
					h1.page-title
				nav = render 'templates/sidebar'
			.content = yield
